<form action="<%= users_url %>" method="POST">
    <label for="username">Username:</label>
    <input id="username" type="text" name="user[user_name]" value="<%= @user.user_name %>">

    <label for="password">Password:</label>
    <input id="password" type="password" name="user[password]" value="">

    <input type="submit" value="Create User">
</form>