
<h2>Sign In</h2>
<br>
<form action="<%=session_url%>" method="post">
    <%= auth_token %>
    <label>
    Username:
    <input type="text" name="user[username]" value="<%= @user.username %>">
    </label>
    <br>
    <label>
    Password:
    <input type="password" name="user[password]" value="">
    </label>
    <br>
    <div id='submit'>
    <button type="submit"> Login </button>
    </div>
</form>