body {
    height: 60vw;
    display: flex;
    flex-direction: column;
    color: white;
    text-shadow: 1px 1px black ;
    justify-content: center;
    align-items: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: linear-gradient(#e66465, #9198e5);
    font-size: 40px;
}

.tile {
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: inset;
    color: black;
    background-color: lightgray;
    text-align: center;
    margin: auto;
    border: 2px solid rgb(92, 89, 89);
    width: 100px;
    height: 100px;
}

.row {
    display: flex;
}

button {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px;
    font-size: 30px;
    
  }

.explored {
    border-style: outset;
    background-color: white;
}

.message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 1px 1px black ;
    box-shadow: 1px 1px 1px 1px 4px black;
}

.game {
    display: flex;
    flex-direction: column;
    color: white;
    text-shadow: 1px 1px black ;
    justify-content: center;
    align-items: center;
    text-align: center;
}