<div class = "section-links">
<li><sbutton>World</sbutton></li>
<li><sbutton>San Francisco</sbutton></li>
<li><sbutton>New York</sbutton></li>
<li><sbutton>Bootcamp</sbutton></li>
<li><sbutton>Jumpstart</sbutton></li>
<li><sbutton>Online</sbutton></li>
<li><sbutton>Marketing</sbutton></li>
<li><sbutton>Sales</sbutton></li>
<li><sbutton>TalentMatch</sbutton></li>
<li><sbutton>Alumni</sbutton></li>
<li><a>All</a></li>
</div>