<h2>All Poems</h2>

<% @poems.each do |poem| %>
    <%= poem.title %>
    <%= poem.stanzas %>
    <% if poem.complete %>
    Done
    <% end %>
    
    <a href="<%=edit_poem_url(poem)%>">Edit Poem</a>
<% end %>

<a href="<%=new_poem_url%>">Create New Poem</a>