// Use the gear_dropdown.png screenshot as a style guide
#dropdown .hidden {
    display: none;
}

#dropdown {
    cursor: pointer;
    box-shadow: -1px 4px 6px 1px rgba(0, 0, 0, 0.09);
}



#gear-dropdown {
    display: flex;
    position: absolute;
    top: 7.5%;
    right: 10%;
    background-color: white;
    flex-direction: column;
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid grey;
    z-index: 10;
    font-size: 12px;
}

#dropdown:hover .hidden {
    display: block;
}
.gear-dropdown {
    position: relative;
    display: inline-block;
}
.gear-dropdown {
    font-family: $sans-serif;
}

